*{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
#list {
    > ul {
        display: flex;
        width: 600px;
        margin: 100px auto;
        > li {
            flex: 1;
            background-color: #000088;
            line-height: 20px;
            color: #fff;
            font-size: 16px;
            border-radius: 10px;
            cursor: pointer;
            text-align: center;
            padding: 5px 10px;
            > ul {
                position: absolute;
                display: none;
                width: calc(150px - 20px);
                > li {
                    background-color: #000088;
                    line-height: 30px;
                    font-size: 14px;
                    text-align: center;
                    color: #fff;
                    margin: 6px 0 0 0;
                }
            }
        }
    } 
}
.hide {display: none;}
.show {display: block;}